html {
    height: 100%;

    background-color: rgba(0,0,0,1);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;
    color: ivory;

    /*height: 100%;*/
}
.body{
    background: black;
    color: ivory;
    min-height: 100vh;
    min-width: 100vh;
}
.username{
    font-size: 25px;
    font-weight: 700;
    line-height: 20.8px;

    position: absolute;
    top: 5%;
    left: 85%;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 25px;
}

a:link{
    text-decoration: none;
}

.logout{
    font-size: 13px;
    font-weight: 700;
    color: black;
    line-height: 14px;

    position: absolute;
    top: 5.5%;
    left: 5%;

    text-align: center;

    background-color: ivory;
    padding: 13px 15px;

    border: 1px solid rgb(100, 100, 100);
    border-radius: 30px;
}

div{
    position: absolute;
    top: 20%;
    left: 5%;
    padding: 10px;
    flex: auto;
}

.newTrack{
    left: 60%;

}

.newPlaylist{
    left: 33%;
}

p{
    font-size: 21px;
    font-weight: 700;
    line-height: 20.8px;
}

dt{
    font-size: 18px;
    line-height: 25px;
}

dd{
    color: #aaaaaa;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    color: ivory;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#div1:hover{
    padding: 12px;
}

label{
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;
    font-size: 15px;
    line-height: 25px;
    padding: 3px;
}
.text{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(100, 100, 100);
    color: ivory;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;
    height: 24px;
    border-radius: 10px;
}

legend{
    font-size: 13px;
    line-height: 25px;
    padding: 3px;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;
    align-content: center;
    border-radius: 10px;
}

input[type="checkbox"] {
    background-clip: content-box;
    cursor: pointer;
    /*clip: rect(1px, 1px, 1px, 1px);
    position: absolute;*/
    margin: 0;
    padding: 2px 0 0 24px;
    background: cadetblue left center no-repeat;
}

input[type="checkbox"]:checked{
    background-color: cadetblue;
}

/*button{
    background-color: black;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;
    font-size: 15px;
    cursor: pointer;
    color: cadetblue;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 15px;
}*/

input[type="submit"]{
    background-color: black;
    font-family: "helvetica";
    font-size: 15px;
    cursor: pointer;
    color: cadetblue;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 15px;
    border-color: white;
    border-width: 1px;
    padding: 5px;
    position: relative;
    flex: auto;
}

input[type="submit"]:hover{
    left: 0.5em;
    padding: 7px;
}

input[type="submit"]:active{
    background-color: black;
    color: ivory;
    border-color: black;
}

input[type="text"]:active{
    border-color: ivory;
}

input[type="checkbox"]{
    flex: auto;
    position: relative;
}

input[type="checkbox"]:hover{
    left:.1em;
}