body {
    height: 100%;
    background-color: rgb(13, 16, 23);
    font-family: "Arial", sans-serif;
    color: ivory;
}

img {
    pointer-events: none;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0%);

    background-color: rgb(22, 27, 33);

    border: 1px solid rgb(26, 31, 37);
    border-radius: 10px;
    padding: 10px;

    font-size: 16px;

    width: 350px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.field {
    padding: 10px;
}

input {
    background-color: rgb(13, 16, 23);

    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: ivory;

    width: 300px;
    height: 25px;

    border: 1px solid rgb(26, 31, 37);
    border-radius: 4px;
}

input[type="submit"] {
    background-color: rgb(40, 50, 100);
    width: 308px;
    height: 30px;

    border-radius: 4px;
}

input[type="submit"]:hover{
    background-color: rgb(60, 60, 100);
}

.box2 {
    margin-left: 50%;
    margin-top: 15px;
    transform: translate(-50%, 0%);

    border: 1px solid rgb(26, 31, 37);
    border-radius: 10px;
    padding: 25px;

    font-size: 16px;

    width: 323px;
}

a:link {
    color: deepskyblue;
    font-size: 18px;
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#err {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
    margin-bottom: 5%;

    color: red;
    font-size: 20px;
    font-family: "Arial", sans-serif;
}

.center {
    margin-left: 50%;
    margin-top: 5%;
    transform: translate(-50%, 0);
    max-width: 80px;
}