<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/homestyle.css"
                              th:href="@{css/homestyle.css}" />
</head>
<body>
<a class="logout" th:href="@{/Logout}">Logout</a>
<div class="error">
    <div th:text="${error}">Something went wrong during the elaboration of your request. &nbsp
    </div>
    <div>
        Please click
        <a th:href="@{/Home}">here </a>
        to return to the Home Page
    </div>
</div>
</body>
</html>