<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/homestyle.css"
          th:href="@{css/homestyle.css}" />
</head>
<body>
<div class="username" th:text="${user.username}">Null</div>
<a class="logout" href="/Logout">logout</a>

<li>
<div class="one">
    <p class="myplaylists">My playlists</p>
        <dl>
            <dt th:each="playlist: ${playlists}"
                th:insert="@{/ply_pttn.html} :: list (playlist)">There's no playlists</dt>
        </dl>
</div>
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>

<div class="newTrack">
    <p>Add a new track</p>
    <form>
        <label for="ttitle">Track Title</label><br>
        <input class="text" type="text" id="ttitle" name="ttitle"><br>
        <label for="talbum">Album</label><br>
        <input class="text" type="text" id="talbum" name="talbum"><br>
        <legend id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">Drop here the audio file</legend><br>
        <input type="submit" value="Submit"><br>
    </form>

</div>

<div class="newPlaylist">
    <p>Add a new playlist</p>
    <form>
        <label for="ptitle">Playlist Title</label><br>
        <input class="text" type="text" id="ptitle" name="ptitle"><br>
        <fieldset class="fs">
            <legend>My songs</legend><br>
                <a th:each="song: ${songs}"
                    th:insert="@{/song_pttn.html} :: list (song)">There's no songs</a>
                <input type="checkbox" id="song1" name="song1" value="song1">
                <label class="chlab" for="song1">song1 - album1 - artist1</label><br>
                <input type="checkbox" id="song2" name="song2" value="song2">
                <label class="chlab" for="song2">song2 - album2 - artist2</label><br>
        </fieldset>
        <input type="submit" value="Submit"><br>
        <!--<button (click)="metodo" type="button" id="psubmit">Submit</button><br>-->
    </form>
</div>

</li>

</body>
