<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/homestyle.css"
          th:href="@{css/homestyle.css}" />
</head>
<body>
<div class="username" th:text="${user.username}">Null</div>
<a class="logout" th:href="@{/Logout}">Logout</a>


<div class="one">
    <p class="myplaylists">My playlists</p>
        <dl th:each="playlist: ${playlists}">
            <dt>
                <a th:href="@{/ShowPlaylist(playlist=${playlist.id}, group=0)}"
                   th:text="${playlist.title}">There are no playlists</a>
            </dt>
            <dd th:text="${playlist.getDateString()}"></dd>
        </dl>
</div>

<div class="newTrack">
    <p>Add a new track</p>
    <form action="Home" method="POST" enctype="multipart/form-data"> <!--enctype="multipart/form-data"-->
        <label for="ttitle">Track Title</label><br>
        <input class="text" type="text" id="ttitle" name="ttitle" required="required"><br>
        <!--<legend id="div1" >Drop here the audio file</legend>-->
        <label for="talbum">Album</label><br>
        <input class="text" type="text" id="talbum" name="talbum" required="required"><br>
        <label for="dalbum">Year of release: </label>
        <!--<input class="text" type="number" max="2023" min="0" id="dalbum" name="dalbum" required="required"><br>-->
        <select name="dalbum" id="dalbum">
            <option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), 0)}"
                    th:value="${year}" th:text="${year}"></option>
        </select>
        <br>
        <fieldset id="galbum">
            <legend>Genre</legend>
                <table>
                    <!-- tr riga e dentro ha la colonna che è td -->
                    <tr>
                        <td>
                            <input type="radio" id="classic" value="CLASSIC" name="g" checked="checked">
                            <label for ="classic">Classic</label>
                        </td>
                        <td>
                            <input type="radio" id="jazz" value="JAZZ" name="g">
                            <label for="jazz">Jazz</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="blues" value="BLUES" name="g">
                            <label for="blues">Blues</label>
                        </td>
                        <td>
                            <input type="radio" id="gospel" value="GOSPEL" name="g">
                            <label for="gospel">Gospel</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="soul" value="SOUL" name="g">
                            <label for="soul">Soul</label>
                        </td>
                        <td>
                            <input type="radio" id="pop" value="POP" name="g">
                            <label for="pop">Pop</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="rock" value="ROCK" name="g">
                            <label for="rock">Rock</label>
                        </td>
                        <td>
                            <input type="radio" id="country" value="COUNTRY" name="g">
                            <label for="country">Country</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="disco" value="DISCO" name="g">
                            <label for="disco">Disco</label>
                        </td>
                        <td>
                            <input type="radio" id="techno" value="TECHNO" name="g">
                            <label for="techno">Techno</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="raggae" value="RAGGAE" name="g">
                            <label for="raggae">Raggae</label>
                        </td>
                        <td>
                            <input type="radio" id="salsa" value="SALSA" name="g">
                            <label for="salsa">Salsa</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="flamenco" value="FLAMENCO" name="g">
                            <label for="flamenco">Flamenco</label>
                        </td>
                        <td>
                            <input type="radio" id="hiphop" value="HIPHOP" name="g">
                            <label for="hiphop">Hip-Hop</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="metal" value="METAL" name="g">
                            <label for="metal">Metal</label>
                        </td>
                        <td>
                            <input type="radio" id="funk" value="FUNK" name="g">
                            <label for="funk">Funk</label><br>
                        </td>
                    </tr>
            </table>
        </fieldset>
        <!--<legend id="div2" >Drop here the album image</legend>-->
        <label for="aname">Artist name</label><br>
        <input class="text" type="text" id="aname" name="aname" required="required"><br>

        <label for="audio" >Select audio file: </label>
        <input class="tfile" type="file" name="audio" id="audio"><br>
        <label for="img" >Select album image: </label>
        <input class="afile" type="file" name="img" id="img"><br>

        <input type="submit" value="Submit"><br>
    </form>

</div>

<div class="newPlaylist">
    <p>Add a new playlist</p>
    <form action="PLinsert" method="POST">
        <label for="ptitle">Playlist Title</label><br>
        <input class="text" type="text" id="ptitle" name="ptitle"><br>
        <fieldset class="fs">
            <legend>My songs</legend><br>
                <a th:each="track: ${songs}">
                    <input type="checkbox" id="song" name="song" th:value="${track.id}">
                    <label for="song" th:text="${track.title}+' - '+${track.album.title}+' - '+${track.album.genre}+' - '+${track.album.artist.artistName}">There's no songs</label><br></a>
        </fieldset>
        <input type="submit" value="Submit"><br>
    </form>
</div>


</body>
