<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/homestyle.css"
        th:href="@{css/homestyle.css}" />
</head>
<body>
<a class="logout" href="/Logout">Logout</a>
<div class="title">
    <h1 th:text="${playlist.title}">playlist</h1>
</div>
<div class="page">
    <div class="button" th:if="${group}!=0">
        <a th:href="@{/ShowPlaylist + '?group=' + {g} (g=group-1)}"><</a>
    </div>
    <div class="tab">
        <table>
            <tr> <!--th:insert="@{track_pttn.html} :: list (track)"-->
                <td th:class="shine" th:each="track : ${tracks}">
                    <img th:href="@{/resources/images/{image}(image=${track.album.imgUri})}" alt="No album cover"></img>
                    <div th:text="${track.title}">This playlist does not contain any tracks</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="button" th:if="${next}">
        <a th:href="@{/ShowPlaylist + '?group=' + {g} (g=group+1)}">></a>
    </div>
</div>
</body>
</html>