<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="resources/TobbiSosFy logo.png">
    <title>Playlist</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/homestyle.css"
        th:href="@{css/homestyle.css}" />
</head>
<body>
<a class="logout" th:href="@{/Logout}">Logout</a>
<div class="title">
    <h1 th:text="${playlist.title}">playlist</h1>
</div>
<a class="back" th:href="@{/Home}">Home</a>
<div class="page">
    <div class="trks">
        <div  th:if="${group}!=0">
            <a class="button" th:href="@{/ShowPlaylist(playlist=${playlist.id}, group=${group}-1)}"><</a>
        </div>
        <div class="tab">
            <table>
                <tr>
                    <td th:if="${#lists.isEmpty(tracks)}">This playlist does not contain any tracks</td>
                    <td th:class="shine" th:each="track : ${tracks}">
                        <img th:src="${#servletContext.getContextPath()+'/resources/images/'+
                            track.album.imgUri}">
                        <a th:class="il" th:href="@{/StartPlayer(track=${track.id},playlist=${playlist.id},
                        group=${group})}" th:text="${track.title}"></a>
                    </td>
                </tr>
            </table>
        </div>
        <div  th:if="${next}">
            <a class="button" th:href="@{/ShowPlaylist(playlist=${playlist.id}, group=${group}+1)}">></a>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(addTrks)}">
        <form th:action="@{ShowPlaylist+'?playlist='+${playlist.id}}" method="POST">
            <fieldset class="frm">
                <legend>Add songs to the playlist</legend>
                <div th:each="track : ${addTrks}">
                    <input type="checkbox" th:id="${track.id}" name="tracks" th:value="${track.id}">
                    <label th:for="${track.id}" th:text="${track.title}+' - '+${track.album.title}+
                        ' - '+${track.album.genre}+' - '+${track.album.artist.artistName}"></label></td>
                </div>
            </fieldset>
            <input class="center" type="submit" value="Submit">
        </form>
    </div>
    <div th:if="${#lists.isEmpty(addTrks)}" class="frm">There are no tracks to add to this playlist</div>
</div>
</body>
</html>