<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/playerstyle.css"
          th:href="@{css/playerstyle.css}" />
</head>
<body>
<a class="logout" th:href="@{/Logout}">Logout</a>
<div class="back">
    <table>
        <tr>
            <td>
                <a th:href="@{/Home}">Home</a>
            </td>
            <td>
                <a th:href="@{/ShowPlaylist(playlist=${playlist},group=${group})}">Playlist</a>
            </td>
        </tr>
    </table>
</div>
<div class="box">
  <div class="info">
    <table>
      <tr>
        <td class="entry">
          <img th:src="@{${#servletContext.getInitParameter('imagepath')+'/'+track.album.imgUri}}"
               alt="No Album Cover">
        </td>
        <td class="entry">
          <table>
            <tr>
              <td class="data">Title:</td>
              <td class="data" th:text="${track.title}">unknown</td>
            </tr>
            <tr>
              <td class="data">Album:</td>
              <td class="data" th:text="${track.album.title}">unknown</td>
            </tr>
            <tr>
              <td class="data">Artist:</td>
              <td class="data" th:text="${track.album.artist.artistName}">unknown</td>
            </tr>
            <tr>
              <td class="data">Year:</td>
              <td class="data" th:text="${track.album.year}">unknown</td>
            </tr>
            <tr>
              <td class="data">Genre:</td>
              <td class="data" th:text="${track.album.genre}">unknown</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div class="player">
    <audio controls>
      <source th:src="@{${#servletContext.getInitParameter('trackpath')+'/'+track.mp3Uri}}"
              type="audio/mpeg">
      Your browser does not support this audio extension
    </audio>
  </div>
</div>
</body>
</html>